/*
=========
GENERALE
=========
*/

:root {
    /* Colori per lo sfondo bianco */
    --text_bgWhite: #000000;
    --bg_bgWhite: #fdfffd;
    --link_bgWhite: #008933;
    --visitedLink_bgWhite: #C935A1;

    /* Colori per lo sfondo verde */
    --text_bgGreen: #fdfffd;
    --bg_bgGreen: #008933;
    /*--link_bgGreen: ;
    --visitedLink_bgGreen: ;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    line-height: 1.5;
    background-color: var(--bg_bgWhite);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    padding-bottom: 20px;
}



/*
===============
SEZIONE HEADER
===============
*/

header {
    background-color: var(--bg_bgGreen);
    padding: 12px;
    position: relative;
}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#logo {
    margin-top: auto;
    margin-bottom: auto;
}

header nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left:10px;
}

header nav ul li a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 600;
    border-radius: 2em;
    padding: 10px;
    color: #fdfffd; /* var(--link_bgGreen); quando sarà disponibile */
    text-transform: uppercase;
}

header nav ul li a:hover,
header nav ul li a.active {
    background-color: #000000;
}

header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}



/*
================================
BOTTONI REGISTRAZIONE E ACCESSO
================================
*/

.sign-buttons {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.sign-buttons button {
    background-color: var(--visitedLink_bgWhite); /* Eventualmente possiamo cambiare questo colore in futuro */
    color: var(--text_bgGreen); /* Eventualmente possiamo cambiare questo colore in futuro */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.sign-buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
 
.sign-buttons button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}



/*
=================
MENÙ AD HAMBURGER
=================
*/

.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: var(--bg_bgWhite);
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--bg_bgGreen);
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg_bgGreen);
    left: 0;
}

.nav-toggler span::before {
    top: -6px;
}

.nav-toggler span::after {
    top: 6px;
}



/*
===============
SEZIONE FOOTER
===============
*/

footer {
    padding: 5px;
    background-color: var(--bg_bgGreen);
    color: var(--text_bgGreen);
    text-align: center;
    width: 100%;
}

.footer-grid-container
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    vertical-align: middle;
    text-decoration: none;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    border-radius: 2em;
    color: var(--text_bgGreen);
}

.footer-grid-container a{
    color: #fdfffd; /* var(--link_bgGreen); quando sarà disponibile */
}

.footer-grid-container ul{
    list-style: none;
    font-weight: 300;
}

footer .contacts
{
    font-weight: 600;
}



/*
==============
TITOLO PAGINA
==============
*/

.page-title{
    padding-left: 80px;

}



/*
===========
BREADCRUMB
===========
*/

.breadcrumb {
    display: flex;
    padding-left: 50px;
    padding-top: 25px;
    align-items: center;
}

.breadcrumb a, .breadcrumb span {
    color: #000; 
    padding: 0 5px;
    font-size: 25px;
}

.breadcrumb img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}



/*
=====
FORM
=====
*/

form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 50%;
}

.form-input {
    border: 2px solid #000000;
    background-color: #fdfffd;
    border-radius: 1em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
}

.form-input:focus {
    border-color: #008933;
    box-shadow: 0 0 3px #008933;
    outline: none;
}

textarea.form-input {
    resize: vertical;
    height: 150px;
}

.form-buttons{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.form-buttons button{
    background-color: #008933;
    color: #fdfffd;
    padding: 10px 20px 10px 20px;
    border: 0 solid;
    border-radius: 1em;
    font-size: 20px;
}

fieldset{
    padding: 20px;
    border-radius: 1em;
    border: 0 solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fieldset-header{
    justify-self: center;
}