/*
=========
GENERALE
=========
*/

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Regular.ttf') format('truetype');
}

:root {
    /* Colori per lo sfondo bianco */
    --text_bgWhite: #000000;
    --bg_bgWhite: #fdfffd;
    --link_bgWhite: #0F8555;
    --visitedLink_bgWhite: #C935A1;

    /* Colori per lo sfondo verde */
    --text_bgGreen: #000000;
    --bg_bgGreen: #0F8555;
    --link_bgGreen: #FFFFBD;
    --visitedLink_bgGreen: #ffffff;

    /* Colori per lo sfondo fucsia */
    --bg_bgFuchsia: #C935A1;
    --link_bgFuchsia: #000000;
    --visitedLink_bgFuchsia: #ffffff;

    /* Colori per la Labels o messaggi di errore */
    --borderError: #ff4d4d;
    --bgError: #ffe6e6;
    --txtError: #d10000;
    --bgLabel: #f0f8ff;
    --borderLabel: #1e90ff;

    /* Altri colori */
    --hover: #000000;
    --border: #000000;

    /* Altezze dell'header senza breadcrumb */
    --headerDesktopHeight: 4.625em;
    --headerHandheldHeight: 3.875em;

    /* Altezze del breadcrumb */
    --breadcrumbDesktopHeight: 1.5em;
    --breadcrumbHandheldHeight: 2.226em;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    line-height: 1.5;
    background-color: var(--bg_bgWhite);
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}



/*
========
HEADER
========
*/

header {
    background-color: var(--bg_bgGreen);
    padding: 0.75em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: var(--border) 0.125em solid;
}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#logo {
    text-indent: -999em;
    background-image: url('../Images/logo/Edil_Scavi_logo_colore-nuovo.png');
    background-size: contain;
    width: 6.7em;
    height: 1.2em;
    margin: auto;
}

header nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    display: block;
    font-size: 1.25em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    font-weight: 600;
    border-radius: 1em;
    padding: 0.4em 0.6em;
    color: var(--link_bgGreen);
    text-transform: uppercase;
}

nav#menu ul li a:not(.navigationHelp),
nav#menu ul li.current-link {
    border: var(--border) 0.125em solid;
}

header nav ul li.current-link {
    text-decoration: none;
    font-size: 1.25em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    font-weight: 600;
    border-radius: 1em;
    padding: 0.4em 0.6em;
    color: var(--link_bgGreen);
    text-transform: uppercase;
    background-color: var(--hover);
}

header nav ul li a:visited {
    color: var(--visitedLink_bgGreen);
}

/* È importante mettere prima a:visited e poi a:hover e a:active, cioè questi due devono essere gli ultimi.
   Perchè altrimenti, mettendo lo stato visited in basso, esso andrebbe a sovrascrivere lo stato hover e active, che noi vogliamo si manifestino! */

header nav ul li a:hover,
header nav ul li a:active {
    background-color: var(--hover);
    color: var(--link_bgGreen);
}

header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}



/*
==========
TORNA SU
==========
*/

#goUp {
    position: fixed;
    background-color: var(--text_bgGreen);
    text-align: center;
    color: var(--link_bgWhite);
    font-size: 2em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    bottom: 1.5em;
    right: 0.6em;
    border-radius: 50%;
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
    text-decoration: none;
    display: none;
}

#goUp.visible {
    display: block;
}




/*
=======================
AIUTI ALLA NAVIGAZIONE
=======================
*/

.navigationHelp {
    position: absolute;
    text-indent: -999em;
    padding: 0;
}

.navigationHelp:focus {
    position: static;
    text-indent: 0;
}

.listHelp {
    list-style-type: none;
}

.link-intestazione {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    text-indent: -999em;
}

.link-intestazione:focus {
    position: static;
    text-indent: 0;
}




/*
=================
PULSANTI ACCOUNT
=================
*/

.sign-buttons {
    margin: auto;
    padding: 0 0.25em;
}

.sign-buttons a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--bg_bgFuchsia);
    color: var(--link_bgFuchsia);
    border: none;
    border-radius: 0.357em;
    padding: 0.714em 1.428em;
    font-size: 0.875em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.sign-buttons a:visited {
    color: var(--visitedLink_bgFuchsia);
}

.sign-buttons a:hover {
    transform: scale(1.05);
    box-shadow: 0 0.285em 0.428em rgba(0, 0, 0, 0.2);
}

.sign-buttons a:active {
    transform: scale(0.95);
    box-shadow: 0 0.142em 0.285em rgba(0, 0, 0, 0.3);
}

.sign-buttons div.current-link {
    display: inline-block;
    text-decoration: none;
    background-color: var(--bg_bgFuchsia);
    color: var(--link_bgFuchsia);
    border: none;
    border-radius: 0.357em;
    padding: 0.714em 1.428em;
    font-size: 0.875em;
    font-weight: bold;
    text-align: center;
}



/* 
==============
DELETE ACCOUNT
==============
*/

#danger-zone {
    border: 0.125em solid var(--borderError);
    background-color: var(--bgError);
    color: var(--txtError);
    padding: 1.25em;
    border-radius: 0.5em;
    margin: 1.25em auto;
    text-align: center;
}

#danger-zone h3 {
    color: var(--txtError);
    font-size: 1.5em;
    margin-bottom: 0.625em;
}

#danger-zone p {
    margin-bottom: 1.25em;
    font-size: 1em;
    color: var(--text_bgWhite);
}

#delete-button {
    background-color: var(--txtError);
    color: var(--bg_bgWhite);
    border: 0.125em solid var(--borderError);
    padding: 0.625em 1.25em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.3125em;
}

#delete-button:hover {
    transform: scale(1.05);
}

#delete-button:focus {
    outline-offset: 0.125em;
}



/*
==================
MENÙ AD HAMBURGER
==================
*/

#nav-check {
    display: none;
}

.nav-toggler {
    height: 2.125em;
    width: 2.75em;
    background-color: var(--bg_bgWhite);
    border-radius: 0.25em;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 0.9375em;
}

.nav-toggler span {
    display: block;
    height: 0.125em;
    width: 1.25em;
    background-color: var(--bg_bgGreen);
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg_bgGreen);
    left: 0;
}

.nav-toggler span::before {
    top: -0.375em;
}

.nav-toggler span::after {
    top: 0.375em;
}



/*
===========
BREADCRUMB
===========
*/

.breadcrumb {
    color: var(--visitedLink_bgGreen);
    padding-left: 4.6em;
}

.breadcrumb ul li a {
    text-decoration: underline;
    display: inline-block;
    font-size: 1em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    font-weight: 600;
    border-radius: 0em;
    padding: 0 0;
    color: var(--link_bgGreen);
    text-transform: none;
}

.breadcrumb ul li a:hover,
ul li a:active {
    background-color: transparent;
    color: var(--link_bgGreen);
}

.breadcrumb ul li+li:before {
    padding-right: 0.5em;
    padding-left: 0.8em;
    content: "/\00a0";
}



/*
======
MAIN
======
*/

main {
    flex: 1;
    padding-top: calc(1.25em + var(--headerDesktopHeight) + var(--breadcrumbDesktopHeight));
    padding-bottom: 1.25em;
    width: 90%;
    margin: auto;
}

main.no-breadcrumb {
    padding-top: calc(1.25em + var(--headerDesktopHeight));
}

main h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;
}

main h2 {
    text-align: center;
    background-color: var(--bg_bgGreen);
    color: var(--text_bgGreen);
    border-radius: 1em;
    margin-bottom: 0.66em;
}

main a {
    color: var(--link_bgWhite);
    text-decoration: underline;
}

section {
    padding-bottom: 0.75em;
    border-bottom: var(--border) 0.125em solid;
    margin-bottom: 1.25em;
}

#introductionParagraph {
    text-align: center;
    margin: auto;
    margin-bottom: 1.5em;
    width: 45%;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 1.125em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    margin: 0.5em;
}

.reversed> :first-child {
    order: 2;
}

.reversed> :last-child {
    order: 1;
}

img {
    border-radius: 0.625em;
    border: var(--border) 0.125em solid;
}

button img {
    border: 0;
}



/*
=====
FORM
=====
*/

input[type="file"]::file-selector-button {
    background-color: var(--bg_bgGreen);
    text-decoration: none;
    color: var(--bg_bgWhite);
    padding: 0.5em 1em 0.5em 1em;
    border: 0 solid;
    margin-left: 0em;
    margin-right: 1em;
    border-radius: 1em;
    font-size: 1.25em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    margin-bottom: 1em;
}

.form-short{
    width: 30%;
}

.form-input {
    border: 0.125em solid var(--border);
    background-color: var(--bg_bgWhite);
    border-radius: 1em;
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    font-size: 1em;
    /* Rimane lo stesso font-size */
}

.form-input:focus {
    border-color: var(--link_bgWhite);
    box-shadow: 0 0 0.1875em var(--link_bgWhite);
    outline: none;
}

textarea.form-input {
    resize: vertical;
    height: 9.375em;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.9375em;
    margin-bottom: 0.3125em;
}

.form-buttons button {
    width: 100%;
    color: var(--visitedLink_bgGreen);
    font-weight: bold;
}

.btn-link,
button {
    background-color: var(--bg_bgGreen);
    text-decoration: none;
    color: var(--text_bgGreen);
    padding: 0.5em 1em 0.5em 1em;
    border: 0 solid;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    font-size: 1.25em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.outline-green {
    background-color: var(--bg_bgWhite);
    color: var(--bg_bgGreen);
    border: 0.1em solid var(--link_bgWhite);
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.2);
}

.form-buttons button:active {
    transform: scale(0.95);
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.3);
}

.surrounding-box {
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em;
    border-radius: 1em;
    border: 0.0625em solid;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2);
}

.form-description {
    text-align: center;
    font-size: 1.5em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    margin-bottom: 0.5em;
}

.insideBoxDescription {
    margin-top: 0.5em;
}

.change-form {
    text-align: center;
    margin-bottom: 0.5em;
}

legend {
    font-size: 1.5em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    font-weight: bold;
}

.double-column {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-grow: 1;
}

.double-column> :first-child,
.double-column> :last-child {
    width: 50%;
}



/*
=======
FOOTER
=======
*/

footer {
    padding: 0.3125em;
    background-color: var(--bg_bgGreen);
    color: var(--text_bgGreen);
    text-align: center;
    width: 100%;
    border-top: var(--border) 0.125em solid;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.0625em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    padding-left: 0.294em;
    padding-right: 0.294em;
    font-weight: 600;
    border-radius: 2em;
    color: var(--text_bgGreen);
}

.footer-grid-container a {
    color: var(--link_bgGreen);
}

.footer-grid-container a:visited {
    color: var(--visitedLink_bgGreen);
}

.footer-grid-container ul {
    list-style: none;
    font-weight: 300;
}

footer .contacts {
    font-weight: 600;
}



/*
=====================================
MESSAGGI DI ERRORE - VALIDAZIONE PHP
=====================================
*/

.errorMessages {
    list-style-type: none;
    margin: 1.25em 0;
    padding: 0.625em;
    border: 0.125em solid var(--borderError);
    background-color: var(--bgError);
    border-radius: 0.5em;
}

.errorMessages li {
    color: var(--txtError);
    margin-bottom: 0.5em;
    font-weight: bold;
}

.errorMessages li:last-child {
    margin-bottom: 0;
}

.errorMessages li::before {
    content: "⚠ ";
    color: var(--txtError);
    font-size: 1.125em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    margin: 0 0.277em;
}



/*
============================================================
MESSAGGI DI ISTRUZIONI E DI ERRORE - VALIDAZIONE JAVASCRIPT
============================================================
*/

.info-label {
    background-color: var(--bgLabel);
    color: var(--text_bgWhite);
    border-left: 0.286em solid var(--borderLabel);
    padding: 0.571em 0.857em;
    margin-top: 0.286em;
    border-radius: 0.286em;
    font-size: 0.875em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
}

.error-label {
    color: var(--txtError);
    font-size: 0.9em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    margin: 0.347em;
    font-weight: bold;
    background-color: var(--bgError);
    padding: 0.447em;
    border-radius: 0.277em;
}

.error-label::before {
    content: "⚠️";
    font-size: 1rem;
    /* rem e non em, quindi rispetto alla radice, non rispetto a .error-label, che ha cambiato font-size */
    margin-right: 0.2em;
}



/*
===============
GENERIC STYLES
===============
*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

.vh-100 {
    height: 100vh;
}

.h-50 {
    height: 50%;
}

.w-50 {
    width: 50%;
}

.text-centered {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.centered {
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.width50 {
    width: 50%;
}

.borderless{
    border: 0;
}

/* 
==============================
CONTAINER CTA = Call To Action
==============================
*/

.cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

div.cta-container a {
    background-color: var(--bg_bgGreen);
    color: var(--link_bgGreen);
    border: 0 solid;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 1.25em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

div.cta-container a:visited {
    background-color: var(--bg_bgGreen);
    color: var(--visitedLink_bgGreen);
}

div.cta-container a:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.2);
}

a.cta-container:active {
    transform: scale(0.95);
}

.container-cta-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.container-cta-link a {
    background-color: var(--bg_bgGreen);
    color: var(--link_bgGreen);
    border: 0 solid;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 1.25em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
}

div.container-cta-link a:visited {
    background-color: var(--bg_bgGreen);
    color: var(--visitedLink_bgGreen);
}

div.container-cta-link a:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.2);
}

a.container-cta-link:active {
    transform: scale(0.95);
}



/* 
============================
ANCORE CTA = Call To Action
============================
*/

a.cta {
    background-color: var(--bg_bgGreen);
    color: var(--link_bgGreen);
    border: 0 solid;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 1.25em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

a.cta:visited {
    background-color: var(--bg_bgGreen);
    color: var(--visitedLink_bgGreen);
}

a.cta:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.2);
}

a.cta:active {
    transform: scale(0.95);
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.3);
}



/*
========
MARGINI
========
*/

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.m-auto {
    margin: auto;
}

.m-2 {
    margin: 2em;
}

.mb-0-6 {
    margin-bottom: 0.6em;
}



/* 
========
TABELLE
========
*/

table {
    margin: 1.2em auto;
}

table,
th,
td {
    border: 0.0625em solid black;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: 0.5em;
}

th {
    text-align: center;
    background-color: var(--bg_bgGreen);
    color: var(--text_bgGreen);
}

td[data-title="Descrizione"] {
    text-align: left;
}

caption {
    font-weight: bold;
    font-size: 1.5em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    margin-bottom: 0.5em;
}

td:nth-child(even) {
    background-color: rgb(15, 133, 85, 0.2);
}

#desc-tabella {
    text-indent: -999em;
}



/* 
======
LISTE
======
*/

dt {
    font-weight: bold;
}

dl {
    margin-left: 1em;
}

dt + dd {
    margin-bottom: 0.5em;
}

dd ul {
    margin-left: 1em;
}

dd ul li {
    margin-bottom: 0.5em;
}






/*
============================
           PAGINE
============================
*/





/*
==========
HOME PAGE
==========
*/

.home-section {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 1em;
    padding-bottom: 0.75em;
    margin-bottom: 1.25em;
    align-items: center;
}

.home-section>figure,
.home-section>p {
    padding: 0em 0.5em;
    flex: 1 1 50%;
}

.home-section>figure {
    text-align: center;
}

.home-section>iframe {
    width: 70%;
    height: 25em;
    border: var(--border) 0.125em solid;
    border-radius: 0.625em;
}

.home-section:has(> iframe) {
    padding-bottom: 2em;
}

.home-section img {
    width: 600px;
    object-fit: fill;
    object-position: center;
}



/*
=======================
STORIA - LAVORI SVOLTI
=======================
*/

.figure-paragraph-container {
    padding: 0 1em;
}

.figure-paragraph-container,
.img-list-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.figure-paragraph-container figure {
    display: flex;
    flex-direction: column;
    width: 38.5%;
    height: auto;
    align-items: center;
    margin: 0 0.625em;
}

.figure-paragraph-container img {
    max-width: 100%;
    max-height: 25em;
    object-fit: fill;
    object-position: center;
    margin: auto
}

.figure-paragraph-container> :last-child {
    flex: 1;
}

.figure-paragraph-container p {
    margin: 0 0.625em;
    margin-bottom: 0.625em;
}



/*
=======
MEZZI
=======
*/

.mezzi-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    max-width: 90em;
    margin: 3em auto;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.mezzi-container img {
    width: 25em;
    height: auto;
    object-fit: fill;
    object-position: center;
}

figure.escavatori {
    margin: 3em auto;
    text-align: center;
    max-width: 90%;
}

figure.escavatori img {
    max-width: 80%;
    height: auto;
}

figure.escavatori figcaption {
    margin: 0.5em auto;
}

figure.escavatori figcaption span {
    margin: 0 5%;
}



/*
==============
LAVORI SVOLTI
==============
*/

.img-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
    margin: 1em;
}

.img-list-container img {
    max-width: 23%;
    max-height: 25em;
    object-fit: fill;
    object-position: center;
}

.figure-paragraph-container dl p {
    margin-left: 0;
    margin-bottom: 0.3em;
}



/* 
=================
PREVENTIVI
=================
*/

.preventivo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50em;
    margin: 1.25em auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0em 0.125em 0.5em 0em rgba(0, 0, 0, 0.2);
    align-items: center;
    height: auto;
}

.form-preventivo{
    background-color: var(--bg_bgWhite);
    width: 100%;
    display: flex;
    padding-top: 1em;
    flex-direction: row;
    justify-content: center;
    border-radius:8px ;
}

.img-preventivo {
    margin-left: 1em;
    margin-right: 1em;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-preventivo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.content-preventivo {
    box-shadow: 0em 0.125em 0.5em 0em rgba(0, 0, 0, 0.1);
    border-left: dashed rgba(0, 0, 0, 0.1);
    flex: 2;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
}

.content-preventivo dt {
    margin-top: 0.625em;
}

.content-preventivo dd {
    margin-bottom: 1.25em;
}

.header-preventivo {
    background-color: var(--bg_bgGreen);
    color: #fff;
    padding: 1.25em;
    text-align: center;
}

.header-preventivo p {
    font-size: 1.5em;
}

.preventivo-edit-foto
{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

#crea-preventivo-btn{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--bg_bgGreen);
    color: var(--link_bgGreen);
    border: 0 solid;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 1.25em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.filter-container {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.filter {
    display: flex;
    flex-direction: column;
}

.push-right {
    margin-left: 54.5%;
    margin-right: 13%;
}

.preventivi-container {
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    gap: 0.5em;
}
.preventivo figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* Make the image responsive */
.preventivo figure img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}



/*
==========
SU DI NOI
==========
*/

.card {
    box-shadow: 0em 0.125em 0.5em 0em rgba(0, 0, 0, 0.2);
    transition: 0.3s ease all;
    width: 80%;
    text-align: center;
    border-radius: 1em;
}

.card>img {
    width: 95%;
    margin: 0.5em auto;
    border-radius: 1em;
}

.card>p {
    width: 95%;
    margin: 0.5em auto;
}

.card:hover {
    box-shadow: 0em 0.125em 0.5em 0em var(--link_bgWhite);
}


.grid {
    display: grid;
}

.cols-1 {
    grid-template-columns: 100%;
}

.cols-2 {
    grid-template-columns: auto auto;
}

.cols-3 {
    grid-template-columns: 33% 33% 33%;
}

.items-center {
    justify-items: center;
}

#certificazioni p {
    text-align: center;
    margin-bottom: 5em;
}

#certificazioni ul {
    list-style-type: none;
}

#certificazioni ul li {
    list-style-image: url('../Images/icons/conetto16.svg');
    margin-left: 1.5em;
    padding: 0.5em;
}





/* 
=============
AREA PRIVATA
=============
*/

#confirm-button {
    margin-top: 0.2em;
}

h2#index-danger-zone{
    color: var(--txtError);
    background-color: var(--bgError);
    font-size: 1.5em;
    margin-bottom: 0.5em;
}


/*
=======
404-500
=======
*/

.container-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.container-error span {
    margin: 0.5em auto;
}

.container-error img {
    width: 50%;
}

.container-error h1 {
    font-size: 1em;
    text-transform: none;
}

#cta-error {
    margin-bottom: 1em;
}



/* 
=================
LISTA PREVENTIVI
=================
*/

.preventivi-container {

    justify-content: center;
    display: grid;
    grid-template-columns: 100%;
    gap: 0.5em;
}
.preventivi-container dt{
    padding: 1em;
}

.preventivo{
    box-shadow: 0em 0.125em 0.5em 0em rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}
.preventivo dt{
    padding: 0;
    
}

.preventivo dl{
    padding: 0em 2em;
}

.preventivo figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Make the image responsive */
.preventivo figure img {
    margin-top: 1em;
    width: 85%;
    height: auto;
    max-width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

#crea-preventivo-btn{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--bg_bgGreen);
    color: var(--link_bgGreen);
    border: 0 solid;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 1.25em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.preventivo-edit-foto
{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.message-preventivo{
    width: 50%;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--text_bgGreen);
    background-color: var(--bg_bgGreen);
    padding: 1rem 2rem;
    border-radius: 1em;
    margin: 12% auto;
    display: block; 
}
