:root {
    /* Colori per lo sfondo bianco */
    --text_bgWhite: #000000;
    --bg_bgWhite: #fdfffd;
    --link_bgWhite: #008933;
    --visitedLink_bgWhite: #C935A1;

    /* Colori per lo sfondo verde */
    --text_bgGreen: #fdfffd;
    --bg_bgGreen: #008933;
    /*--link_bgGreen: ;
    --visitedLink_bgGreen: ;*/
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    background-color: var(--bg_bgWhite);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav ul li a {
    text-decoration: none;
}

.nav ul {
    list-style: none;
}

.container {
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.header {
    background-color: var(--bg_bgGreen);
    padding: 12px;
    position: relative;
}

.header .logo,
.header .nav {
    padding: 0 15px;
}

/* Non c'è nessun'ancora dentro il logo */
/*
.header .logo a {
    font-size: 30px;
    color: #fdfffd; /* var(--link_bgGreen); quando sarà disponibile *//*
    text-transform: uppercase;
}
*/

.header .nav ul li {
    display: inline-block;
    margin-left:10px;
}

.header .nav ul li a {
    display: block;
    font-size: 20px;
    font-weight: 600;
    border-radius: 2em;
    padding: 10px;
    color: #fdfffd; /* var(--link_bgGreen); quando sarà disponibile */
    text-transform: uppercase;
}

.header .nav ul li a:hover,
.header .nav ul li a.active {
    background-color: #000000;
}

.header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: var(--bg_bgWhite);
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--bg_bgGreen);
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg_bgGreen);
    left: 0;
}

.nav-toggler span::before {
    top: -6px;
}

.nav-toggler span::after {
    top: 6px;
}

.footer{
    position: absolute;
    bottom: 0;
    padding: 5px;
    left: 0;
    background-color: var(--bg_bgGreen);
    color: var(--text_bgGreen);
    width: 100%;
    text-align: center;
}

.footer .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    vertical-align: middle;
}

.footer .grid-container
{
    text-decoration: none;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    border-radius: 2em;
    color: var(--text_bgGreen);
}

.footer .grid-container a{
    color: #fdfffd; /* var(--link_bgGreen); quando sarà disponibile */
}

.footer .grid-container ul{
    list-style: none;
    font-weight: 300;
}

.bold
{
    font-weight: 600;
}
