/*
===========
BREADCRUMB
===========
*/

.breadcrumb {
    padding-left: 0;
    justify-self: center;
}



/*
=====
MAIN
=====
*/

#introductionParagraph {
    width: 100%;
}



/*
=====
FORM
=====
*/

form, .form-short{
    width: 100%;
}



/*
=======
FOOTER
=======
*/

.footer-grid-container{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    vertical-align: middle;
}



/*
==========
CONTAINER
==========
*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}








/*
============================
           PAGINE
============================
*/






/*
=========
HOME PAGE 
=========
*/

.home-section {
    flex-direction: column; /* Dispone gli elementi in colonna */
}

.home-section > figure, .home-section > p {
    flex: 1 1 100%; /* Ogni elemento occupa tutta la larghezza */
    padding: 0.5em;
}

.home-section img {
    max-width: 100%; 
    height: auto; 
}



/*
======================
STORIA - LAVORI SVOLTI
======================
*/

.figure-paragraph-container{
    flex-direction: column;
}

.figure-paragraph-container > :first-child, .figure-paragraph-container > :last-child {
    flex: 1 1 100%;
}

.figure-paragraph-container figure{
    width: 100%;
    margin: 0;
}



/*
=======
MEZZI
=======
*/

.mezzi-container img {
    max-width: 20em;
}

figure.escavatori {
    max-width: none;
}

figure.escavatori img {
    max-width: 20em; 
}

figure.escavatori figcaption {
    display: flex; 
    flex-direction: column; 
}



/*
==============
LAVORI SVOLTI
==============
*/

.img-list-container {
    flex-direction: column;
    align-items: center;
}

.img-list-container img {
    max-width: 100%;
    height: auto;
}



/*
===========
PREVENTIVI
===========
*/

.push-right {
    margin: 0;
    margin-bottom: 0.5em;
}

.filter-container, .push-right, #filter-results-container, #reset-message {
    width: 100%;
}

.preventivo {
    flex-direction: column; 
}

.img-preventivo {
    order: 2; 
}

.content-preventivo {
    order: 1; 
    width: 100%;
}

.form-preventivo{
    order: 3;
}




/*
==========
SU DI NOI
==========
*/


.card {
    width: 100%;
}

.card > p{
    width: 95%;
    margin: 0.5em;
}

.cols-2{
    grid-template-columns: auto;
    gap: 1em;
}

.grid.cols-3
{
    display: flex;
    flex-direction: column;
}

.grid.cols-3>.figure-paragraph-container
{
    margin-bottom: 5em;
    text-align: center;
}

.grid.cols-3>.figure-paragraph-container p
{
    margin: 0;
}

.about-us-container{
    display: grid;
    grid-template-columns: auto;
}

.about-us-desc{
    width: 100%;
    order: 2;
}

.about-us-image{
    width: 100%;
    order: 1;
}

.about-us-desc.reverse{
    width: 100%;
    order: 4;
}

.about-us-image.reverse{
    width: 100%;
    order: 3;
}

.about-us-image img{
    width: 100%;
    height: 100%;
}
/*
=======
404-500
=======
*/

.container-error  img {
    width: 100%;
}





