/*
===============
SEZIONE FOOTER
===============
*/

.footer-grid-container{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    vertical-align: middle;
}



/*
==============
TITOLO PAGINA
==============
*/

.page-title{
    padding:0;
    justify-self: center;

}



/*
===========
BREADCRUMB
===========
*/

.breadcrumb {
    padding-left:0px;
    padding-top: 10px;
    justify-self: center;
}

.breadcrumb a, .breadcrumb span {
    padding: 0;
}

.breadcrumb img {
    margin: 0;
}



/*
=====
FORM
=====
*/

form{
    width: 80%;
}