@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/RobotoSlab-Regular.ttf') format('truetype');
}

*{
    font-family: 'Roboto Slab', serif;
}


.link-intestazione, .row, #GoUp, a, iframe, #form-preventivi{
    display: none;
}

h1::before {
    content: url('../Images/Edil_Scavi_logo_colore-nuovo.png');
    display: block;    

}
 .footer-grid-container a {
    list-style-type: none;
    display: block;
    text-decoration: none;
}

li, .breadcrumb a{
    display: inline;
}

.breadcrumb ul li+li:before {
    padding-right: 0.5em;
    padding-left: 0.8em;
    content: "/\00a0";
}
.mezzi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.figure-paragraph-container img {
    width: 40%;
}

.home-section img, .img-list-container img, .figure-paragraph-container img {
    display: block; 
    margin: 0 auto 20px; 
}
h2{
    text-align: center;
}

.figure-paragraph-container a{
    display: inline;
}

.figure-paragraph-container a::after{
    content: " (" attr(href) ") ";
}

#storia-lavori, #mezzi-escavatori, #mezzi-operativi{
    page-break-before: always; 
    break-before: page; 
}