/*
=========
GENERALE
=========
*/

@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/RobotoSlab-Regular.ttf') format('truetype');
}


* {
    font-family: 'Roboto Slab', serif;
}

main {
    text-align: center;
}

p {
    text-align: justify;
}

.link-intestazione, .row, #GoUp, a, #form-preventivi {
    display: none;
}

h1::before {
    content: url('../Images/logo/Edil_Scavi_logo_colore-nuovo.png');
    display: block;    

}

img {
    border-radius: 0.625em;
}

#storia-lavori, #mezzi-escavatori, #mezzi-operativi {
    page-break-before: always; 
    break-before: page; 
}



/*
==================
BREADCRUMB | PRINT
==================
*/

li, .breadcrumb a {
    display: inline;
}

.breadcrumb ul li+li:before {
    padding-right: 0.5em;
    padding-left: 0.8em;
    content: "/\00a0";
}



/*
============
FORM | PRINT
============
*/

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    margin-bottom: 1em;
}

.form-input {
    border: 0.125em solid;
    border-radius: 1em;
    width: 80%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    font-size: 1em;
    /* Rimane lo stesso font-size */
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.9375em;
    margin-bottom: 0.3125em;
}

.form-buttons button{
    width: 100%;
    font-weight: bold;
}

.btn-link,
button {
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    font-size: 1.25em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */

}

.surrounding-box {
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em;
    border-radius: 1em;
    border: 0.0625em solid;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2);
}

.form-description {
    text-align: center;
    font-size: 1.5em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    font-weight: bold;
    margin-bottom: 0.5em;
}

.insideBoxDescription {
    margin-top: 0.5em;
}

.change-form {
    text-align: center;
    margin-bottom: 0.5em;
}

legend {
    font-size: 1.5em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    font-weight: bold;
}

.double-column {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-grow: 1;
}

.double-column > :first-child, .double-column > :last-child {
    width: 50%;
}



/*
==============
FOOTER | PRINT
==============
*/

.footer-grid-container a {
    list-style-type: none;
    display: block;
    text-decoration: none;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    vertical-align: middle;
    font-size: 1.0625em;
    /* Essendo cambiato font-size, cambia anche il valore di em per questo elemento */
    padding-left: 0.294em;
    padding-right: 0.294em;
    font-weight: 600;
}

footer .contacts {
    font-weight: 600;
}












/*
============================
           PAGINE
============================
*/






/*
============
HOME | PRINT
============
*/

.home-section {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 1em;
    padding-bottom: 0.75em;
    margin-bottom: 1.25em;
    align-items: center;
}

.home-section > figure,
.home-section > p {
    padding: 0em 0.5em;
    flex: 1 1 50%;
}


.home-section > iframe {
    width: 70%;
    height: 25em; 
    padding: auto;
}

.home-section img {
    max-width: none;
    height: auto;
    object-fit: fill;
    object-position: center;
    
}

.reversed > :first-child {
    order: 2;
}

.reversed > :last-child {
    order: 1;
}



/*
==============================
STORIA / LAVORI SVOLTI | PRINT
==============================
*/

.figure-paragraph-container a{
    display: inline;
}


.figure-paragraph-container {
    padding: 0 1em;
}

.figure-paragraph-container, .img-list-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.img-list-container img{
    width: 20%;
    margin: auto;
}

.figure-paragraph-container figure {
    max-width: 35%;
    height: auto;
    margin: 0 0.625em;
}

.figure-paragraph-container img {
    width: 100%;
    max-height: 25em;
    object-fit: fill;
    object-position: center;
}

.figure-paragraph-container figcaption {
    margin-top: 0;
}

.figure-paragraph-container > :last-child {
    flex: 1;
}

.figure-paragraph-container p {
    margin: 0 0.625em;
    margin-bottom: 0.625em;
}

.figure-paragraph-container a::after{
    content: " (" attr(href) ") ";
}



/*
=============
MEZZI | PRINT
=============
*/

.mezzi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/*
=================
SU DI NOI | PRINT
=================
*/
.card {
    box-shadow: 0em 0.125em 0.5em 0em rgba(0, 0, 0, 0.2);
    width: 60%;
    border-radius: 1em;
}

.card > img{
    width: 95%;
    margin: 0.5em;
    border-radius: 1em;
}

.card > p{
    width: 95%;
    margin: 0.5em;
}

.grid{
    display: grid;
}

.cols-2{
    grid-template-columns: auto auto;
}

.items-center{
    justify-items: center;
}
