.nav-toggler {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--bg_bgGreen);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    visibility: hidden;
}

.header .nav ul li {
    display: block;
    margin: 0;
}

.header #nav-check:checked~.nav {
    opacity: 1;
    visibility: visible;
}

.header #nav-check:focus~.nav-toggler {
    box-shadow: 0 0 15px #000000;
}

.header #nav-check:checked~.nav-toggler span {
    background-color: transparent;
}

.header #nav-check:checked~.nav-toggler span::before {
    top: 0;
    transform: rotate(45deg);
}

.header #nav-check:checked~.nav-toggler span::after {
    top: 0;
    transform: rotate(-45deg);
}

.grid-container{
    row-gap: 15px;
    margin-bottom: 10px;
}

.footer .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    vertical-align: middle;
}

.footer .grid-container
{
    text-decoration: none;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    border-radius: 2em;
    color: var(--text_bgGreen);
}

.footer .grid-container a{
    color: #fdfffd; /* var(--link_bgGreen); quando sarà disponibile */
}

.footer .grid-container ul{
    list-style: none;
    font-weight: 300;
}