ErrorDocument 404 '<meta http-equiv="refresh" content="0;url=/404.php">'
ErrorDocument 500 '<meta http-equiv="refresh" content="0;url=/500.php">'
ErrorDocument 501 '<meta http-equiv="refresh" content="0;url=/500.php">'
ErrorDocument 502 '<meta http-equiv="refresh" content="0;url=/500.php">'
ErrorDocument 503 '<meta http-equiv="refresh" content="0;url=/500.php">'
ErrorDocument 504 '<meta http-equiv="refresh" content="0;url=/500.php">'
ErrorDocument 505 '<meta http-equiv="refresh" content="0;url=/500.php">'
ErrorDocument 507 '<meta http-equiv="refresh" content="0;url=/500.php">'
