<footer class="footer">
    <div class="grid-container">
        <ul>
            <li class="bold">Contatti</li>
            <li>E-mail: <a href="mailto:edilscavisrlartogne@libero.it">edilscavisrlartogne@libero.it</a></li>
            <li>Claudio: <a href="tel:+393357733919">+39 335 773 3919</a></li>
            <li>Oscar: <a href="tel:+393356673373">+39 335 667 3373</a></li>
        </ul>
        <ul>
            <li class="bold">Recapiti</li>
            <li>Via Cesare Battisti 10/A 25040 Artogne(BS)</li>
            <li>P.Iva 03977370984</li>
        </ul>    
    </div>
    <p>@copyright EdilScavi</p>
</footer>
</body>

</html>