    <footer>
        <div class="footer-grid-container">
            <div>
                <p class="contacts">Recapiti</p>
                <ul>
                    <li>E-mail: <a href="mailto:edilscavisrlartogne@libero.it" title="Manda una mail a Edil Scavi Srl">edilscavisrlartogne@libero.it</a></li>
                    <li>Tel Aziendale: <a href="tel:+390364598874" title="Chiama Edil Scavi Srl al telefono aziendale">+39 0364 598874</a></li>
                    <li>Claudio: <a href="tel:+393357733919" title="Chiama Claudio Cotti Cottini">+39 335 773 3919</a></li>
                    <li>Oscar: <a href="tel:+393356673373" title="Chiama Oscar Cotti Cottini">+39 335 667 3373</a></li>
                </ul>
            </div>
            <div>
                <p class="contacts">Contatti</p>
                <ul>
                    <li>Via Cesare Battisti 10/A 25040 Artogne(BS)</li>
                    <li>P.Iva 03977370984</li>
                </ul>
            </div>
        </div>
        <p>&copy;Copyright Edil Scavi S.r.l.</p>
    </footer>
</body>
</html>