<!DOCTYPE html>
<html lang="it">
<head>
   <title></title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <!-- CSS stylesheets -->
   <link rel="stylesheet" href="CSS/desktop.css" media="screen">
   <link rel="stylesheet" href="CSS/tablet.css" media="screen and (max-width: 1200px)">
   <link rel="stylesheet" href="CSS/mobile.css" media="screen and (max-width: 768px)">
   <link rel="stylesheet" href="CSS/print.css" media="print">

   <!-- JavaScript -->
   <script src="JS/scripts.js"></script>

   <!-- Favicons -->
   <link rel="apple-touch-icon" sizes="180x180" href="Images/favicons/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="Images/favicons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="Images/favicons/favicon-16x16.png">
</head>
<body>
   <header>
      <div class="row">
         
         <h1 id="logo">Edil Scavi</h1>

         <!-- Menù ad hamburger -->
         <input type="checkbox" id="nav-check" aria-label="Toggle navigation menu">
         <label for="nav-check" class="nav-toggler" aria-hidden="true">
            Menu
            <span></span>
         </label>

         <nav id="menu" aria-label="Menù di navigazione">
            <ul>
               <li><a href="#content" class="navigationHelp" aria-label="Aiuti alla navigazione">Salta il menù di navigazione</a></li>
               <li><a href="index.php">Home</a></li>
               <li><a href="storia.php">Storia</a></li>
               <li><a href="mezzi.php">Mezzi</a></li>
               <li><a href="lavori_svolti.php">Lavori svolti</a></li>
               <li><a href="lista_preventivi.php">Preventivi</a></li>
               <li><a href="su_di_noi.php">Su di noi</a></li>
            </ul>
         </nav>

         <div class="sign-buttons">
            <a id="btn-register" href="registrati.php">Registrati</a>
            <a id="btn-login" href="accedi.php">Accedi</a>
         </div>
      </div>

      <!-- <breadcrumb-to-replace> -->

      <a id="goUp" aria-label="Torna su" href="#" title="Torna su">Top</a>
   </header>
