<!DOCTYPE html>
<html lang="en">
<head>
  <title>EdilScavi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="CSS/screen.css" media="screen">
  <link rel="stylesheet" href="CSS/mobile.css" media="screen and (max-width: 1200px)">
</head>
<body>


 <header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
           <div class="logo">
             <img src="Images/logo.png" height="40" width="200" alt="Logo EdilScavi">
           </div>
           <input type="checkbox" id="nav-check">
           <label for="nav-check" class="nav-toggler">
              <span></span>
           </label>
           <nav class="nav">
              <ul>
                 <li><a href="#">Home</a></li>
                 <li><a href="#">Storia</a></li>
                 <li><a href="#">Attrezzatura</a></li>
                 <li><a href="#">Lavori svolti</a></li>
                 <li><a href="#">Preventivi</a></li>
                 <li><a href="#">Su di noi</a></li>
              </ul>
           </nav>
        </div>
    </div>
 </header>