<!DOCTYPE html>
<html lang="it">
<head>
   <title></title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content=""/>
   <meta name="keywords" content=""/>

   <!-- CSS stylesheets -->
   <link rel="stylesheet" href="CSS/desktop.css" media="screen">
   <link rel="stylesheet" href="CSS/tablet.css" media="screen and (max-width: 1200px)">
   <link rel="stylesheet" href="CSS/mobile.css" media="screen and (max-width: 768px)">
   <link rel="stylesheet" href="CSS/print.css" media="print">

   <!-- JavaScript -->
   <script></script>
   <script></script>

   <!-- Favicons -->
   <link rel="apple-touch-icon" sizes="180x180" href="Images/favicons/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="Images/favicons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="Images/favicons/favicon-16x16.png">
</head>
<body>
   <header>
      <div class="row">
         <nav aria-label="Aiuti alla navigazione">
            <ul class="listHelp">
                <li><a href="#content" class="navigationHelp">Vai al contenuto</a></li>
                <li><a href="#menu" class="navigationHelp">Vai alla navigazione</a></li>
            </ul>
         </nav>
         <img id="logo" src="Images/EdilScavi logo.png" height="35" width="200" alt="EdilScavi logo">

         <!-- Menù ad hamburger -->
         <input type="checkbox" id="nav-check" aria-label="Toggle navigation menu" aria-label="Open navigation menu">
         <label for="nav-check" class="nav-toggler" aria-hidden="true">
            Menu
            <span></span>
         </label>

         <nav id="menu">
            <ul>
               <li><a href="#content" class="navigationHelp">Salta il menù di navigazione</a></li>
               <li><a href="index.php">Home</a></li>
               <li><a href="#">Storia</a></li>
               <li><a href="#">Mezzi</a></li>
               <li><a href="#">Lavori svolti</a></li>
               <li><a href="preventivi.php">Preventivi</a></li>
               <li><a href="#">Su di noi</a></li>
            </ul>
         </nav>

         <div class="sign-buttons">
            <button id="btn-register">Registrati</button>
            <button id="btn-login">Accedi</button>
         </div>
      </div>

      <nav id="breadcrumb" aria-label="breadcrumb">
         <!-- <ul-to-replace></ul-to-replace> -->

         <!--Example-->
         <!--
         <a href="index.php" lang="en">Home</a>
        <img src="Images/icons/arrow-fw.svg" alt="">
        <span aria-current="page">Preventivi</span>
        -->
      </nav>

      <!-- Go up button (Decommentiamo quando ci sarà il CSS dedicato, sennò appare brutto) -->
      <!--<a class="goup" aria-label="torna su" href="#">^</a>-->
   </header>
